In [1]:

import pandas as pd
import requests
import sys
def pull_data(url):


    headers = {
                                    "Host": "stats.nba.com",
                                    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0",
                                    "Accept": "application/json, text/plain, */*",
                                    "Accept-Language": "en-US,en;q=0.5",
                                    "Accept-Encoding": "gzip, deflate, br",

                                    "Connection": "keep-alive",
                                    "Referer": "https://stats.nba.com/"
                                }
    json = requests.get(url,headers = headers).json()
    if len(json["resultSets"])== 1:

        
        data = json["resultSets"][0]["rowSet"]
        #print(data)
        columns = json["resultSets"][0]["headers"]
        #print(columns)
        
        df = pd.DataFrame.from_records(data, columns=columns)
    else:

        data = json["resultSets"]["rowSet"]
        print(data)
        #print(json)
        columns = json["resultSets"]["headers"][1]['columnNames']
        #print(columns)
        df = pd.DataFrame.from_records(data, columns=columns)
    return df

def pull_series():
    frames=[]
    for year in range(1997,2025):

        season = str(year-1)+'-'+str(year)[-2:]
        for round in range(1,5):
        
        #part3 = "&SeasonSegment=&SeasonType=Regular%20Season&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight="
            url ='https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound='+str(round)+'&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season+'&SeasonSegment=&SeasonType=Playoffs&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
        
            df = pull_data(url)
            url2='https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound='+str(round)+'&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season+'&SeasonSegment=&SeasonType=Playoffs&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
            df2 = pull_data(url2)
            joined_columns = set(df2.columns) - set(df.columns)

            joined_columns=list(joined_columns)
            joined_columns.append('PLAYER_ID')
            df2=df2[joined_columns]
            print(len(df))
            df=df.merge(df2,on='PLAYER_ID')
            df['year']=year
            df['round']=round
            print(len(df2))
            print(len(df))
            #print(df)
            frames.append(df)
        print(year)
    total=pd.concat(frames)
    return total
#all_series=pull_series()
#all_series.to_csv('player_series.csv',index=False)

In [2]:
all_series= pd.read_csv('player_series.csv')
all_series['TEAM']=all_series['TEAM_ABBREVIATION']
all_series['TEAM_ID']=all_series['TEAM_ID'].astype(str)

In [3]:
all_series

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,OFF_RATING_RANK,DREB_PCT_RANK,E_NET_RATING_RANK,E_OFF_RATING,OREB_PCT_RANK,FGA_PG_RANK,REB_PCT_RANK,year,round,TEAM
0,243,Aaron McKie,Aaron,1610612765,DET,24.0,5,2,3,0.400,...,150,102,62,101.3,130,103,133,1997,1,DET
1,228,Adam Keefe,Adam,1610612762,UTA,27.0,2,2,0,1.000,...,123,12,141,101.1,136,172,7,1997,1,UTA
2,673,Alan Henderson,Alan,1610612737,ATL,24.0,5,3,2,0.600,...,143,45,120,99.7,34,132,38,1997,1,ATL
3,275,Allan Houston,Allan,1610612752,NYK,26.0,3,3,0,1.000,...,29,149,63,118.6,128,26,154,1997,1,NYK
4,297,Alonzo Mourning,Alonzo,1610612748,MIA,27.0,5,3,2,0.600,...,75,21,35,107.0,32,24,16,1997,1,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10285,1630202,Payton Pritchard,Payton,1610612738,BOS,26.0,5,4,1,0.800,...,20,25,12,103.0,14,10,26,2024,4,BOS
10286,1630573,Sam Hauser,Sam,1610612738,BOS,26.0,5,4,1,0.800,...,10,18,8,114.1,7,11,14,2024,4,BOS
10287,1629004,Svi Mykhailiuk,Svi,1610612738,BOS,27.0,3,2,1,0.667,...,28,6,29,92.3,20,19,16,2024,4,BOS
10288,203501,Tim Hardaway Jr.,Tim,1610612742,DAL,32.0,4,1,3,0.250,...,25,19,24,97.7,20,16,25,2024,4,DAL
10289,1630214,Xavier Tillman,Xavier,1610612738,BOS,25.0,2,1,1,0.500,...,21,11,26,98.9,4,23,5,2024,4,BOS

In [4]:
opp = pd.read_csv('opponentmatch.csv')
opp.rename(columns={'Round':'round'},inplace=True)
opp['TEAM_ID']=opp['TEAM_ID'].astype(str)
opp['OPP_ID']=opp['OPP_ID'].astype(str)

opp['round']=opp['round'].astype(int)
opp.drop(columns='TEAM',inplace=True)

In [5]:
all_series=all_series.merge(opp,on=['TEAM_ID','round','year'])



all_series.drop_duplicates(subset=['PLAYER_ID','year','round'],inplace=True)

In [6]:
ff = pd.read_csv('fourfactors.csv')
ff=ff[['TEAM_ID','OPP_TS_PCT','year']]

avg= pd.read_csv('avg_shooting.csv')

avg['year'] = avg['Season'].str.split('-',expand=True)[0].astype(int)+1

avg=avg[['year','TS%']]
avg.columns=['year','year_avg_ts']

ff=ff.merge(avg,on='year',how='left')
ff.rename(columns={'TEAM_ID':'OPP_ID','OPP_TS_PCT':'opp_dTS'},inplace=True)
ff['OPP_ID']=ff['OPP_ID'].astype(str)
ff.drop_duplicates(subset=['year','OPP_ID'],inplace=True)

In [7]:
ff

          OPP_ID  OPP_TS_PCT  year  year_avg_ts
0     1610612737    0.543369  1997     0.535772
1     1610612738    0.537784  1997     0.535772
2     1610612766    0.544596  1997     0.535772
4     1610612741    0.535714  1997     0.535772
5     1610612739    0.544064  1997     0.535772
...          ...         ...   ...          ...
1036  1610612758    0.549232  2024     0.580354
1037  1610612759    0.525612  2024     0.580354
1038  1610612761    0.546951  2024     0.580354
1039  1610612762    0.543525  2024     0.580354
1040  1610612764    0.532934  2024     0.580354

[832 rows x 4 columns]

In [10]:
final_frame= all_series.merge(ff,how='left')
#temp.drop_duplicates(subset=['PLAYER_ID','year','round','OPP_ID'])
ts_col = [col for col in final_frame.columns if 'TS' in col]
ts_col = ['TS_PCT_RANK',
 'TS_PCT',
 'OPP_TS_PCT',
 'year_avg_ts']
for col in ts_col:
    final_frame[col]*=100

final_frame['rOPP_TS_PCT'] = final_frame['TS_PCT']-final_frame['OPP_TS_PCT']
final_frame['rTS_PCT']=final_frame['TS_PCT']-final['year_avg_ts']

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,year,round,TEAM,OPP,OPP_ID,OPP_TS_PCT,year_avg_ts,rOPP_TS_PCT,rTS_PCT,TSA
0,243,Aaron McKie,Aaron,1610612765,DET,24.0,5,2,3,0.400,...,1997,1,DET,ATL,1610612737,54.336878,53.577167,-16.836878,-16.077167,20.00
1,690,Don Reid,Don,1610612765,DET,23.0,1,0,1,0.000,...,1997,1,DET,ATL,1610612737,54.336878,53.577167,59.263122,60.022833,1.76
2,255,Grant Hill,Grant,1610612765,DET,24.0,5,2,3,0.400,...,1997,1,DET,ATL,1610612737,54.336878,53.577167,-5.236878,-4.477167,120.16
3,3,Grant Long,Grant,1610612765,DET,31.0,5,2,3,0.400,...,1997,1,DET,ATL,1610612737,54.336878,53.577167,0.363122,1.122833,22.84
4,966,Jerome Williams,Jerome,1610612765,DET,24.0,1,0,1,0.000,...,1997,1,DET,ATL,1610612737,54.336878,53.577167,45.663122,46.422833,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10283,1629052,Oshae Brissett,Oshae,1610612738,BOS,26.0,3,2,1,0.667,...,2024,4,BOS,DAL,1610612742,54.073896,58.035355,17.626104,13.664645,4.88
10284,1630202,Payton Pritchard,Payton,1610612738,BOS,26.0,5,4,1,0.800,...,2024,4,BOS,DAL,1610612742,54.073896,58.035355,-23.673896,-27.635355,28.00
10285,1630573,Sam Hauser,Sam,1610612738,BOS,26.0,5,4,1,0.800,...,2024,4,BOS,DAL,1610612742,54.073896,58.035355,19.426104,15.464645,27.88
10286,1629004,Svi Mykhailiuk,Svi,1610612738,BOS,27.0,3,2,1,0.667,...,2024,4,BOS,DAL,1610612742,54.073896,58.035355,-22.773896,-26.735355,8.00
10287,1630214,Xavier Tillman,Xavier,1610612738,BOS,25.0,2,1,1,0.500,...,2024,4,BOS,DAL,1610612742,54.073896,58.035355,33.126104,29.164645,3.44

In [9]:
final_frame.to_csv('playoff_series.csv',index=False)

In [11]:
ts_col

['PTS',
 'NBA_FANTASY_PTS',
 'WNBA_FANTASY_PTS',
 'PTS_RANK',
 'NBA_FANTASY_PTS_RANK',
 'WNBA_FANTASY_PTS_RANK',
 'TS_PCT_RANK',
 'TS_PCT',
 'OPP_TS_PCT',
 'year_avg_ts']