In [1]:
import pandas as pd
import requests
import time

def pull_totals(ps=False):
    frames = []
    
    years = [i for i in range(2001,2025)]
    if ps == False:
        s_type="Regular Season"
    else:
        s_type= "Playoffs"
    frames = []
    for year in years:
        season = str(year-1)+'-'+str(year)[-2:]
        wowy_url = "https://api.pbpstats.com/get-totals/nba"
        term = "Team"
        wowy_params = {
        
                "Season": season,
                "SeasonType": s_type,
                "Type": term
        
            }
        headers = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.183',
            'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
            'Accept-Language': 'en-US,en;q=0.9',
            'Accept-Encoding': 'gzip, deflate, br',
            'DNT': '1',
            'Connection': 'keep-alive',
            'Upgrade-Insecure-Requests': '1',
            'Sec-Fetch-Dest': 'document',
            'Sec-Fetch-Mode': 'navigate',
            'Sec-Fetch-Site': 'none',
            'Sec-Fetch-User': '?1',
            'Cache-Control': 'max-age=0',}
        time.sleep(2)
        wowy_response = requests.get(wowy_url, params=wowy_params,headers=headers)
    
        wowy = wowy_response.json()
        #print(wowy)
        team_stats= wowy["single_row_table_data"]
        team_stats['year'] = year
        print(year)
        
        df = pd.DataFrame(team_stats,index = [0])
        frames.append(df)
    return pd.concat(frames)
  

df = pull_totals()

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024

In [2]:
testing = pd.read_csv('player_team_wowy/2001.csv')

temp = testing.drop_duplicates(subset=['team_id','player_on'])
temp['SecondsPlayed'].sum()

6906860.0

In [11]:
cols = [col for col in testing if 'reb' in col.lower()]
cols

['OffThreePtRebounds',
 'OffTwoPtRebounds',
 'FTOffRebounds',
 'DefThreePtRebounds',
 'DefTwoPtRebounds',
 'FTDefRebounds',
 'DefRebounds',
 'OffRebounds',
 'Rebounds',
 'SelfOReb',
 'DefFTReboundPct',
 'OffFTReboundPct',
 'DefTwoPtReboundPct',
 'OffTwoPtReboundPct',
 'DefThreePtReboundPct',
 'OffThreePtReboundPct',
 'DefFGReboundPct',
 'OffFGReboundPct',
 'OffAtRimReboundPct',
 'OffShortMidRangeReboundPct',
 'OffLongMidRangeReboundPct',
 'OffArc3ReboundPct',
 'OffCorner3ReboundPct',
 'DefAtRimReboundPct',
 'DefShortMidRangeReboundPct',
 'DefLongMidRangeReboundPct',
 'DefArc3ReboundPct',
 'DefCorner3ReboundPct',
 'SelfORebPct',
 'SecondsExcludingORebsPerPossOff',
 'SecondsExcludingORebsPerPossDef']

In [4]:
df.to_csv('season_totals.csv',index =False)

In [12]:
df['FTA_Rate']=df['FTA']/(df['FG3A']+df['FG2A'])
df['TOV%'] = 100* df['Turnovers'] / ((df['FG3A'] + df['FG2A']) + (0.44 * df['FTA'])  + df['Turnovers']- df['OffRebounds'])

In [13]:
df.to_csv('season_totals.csv',index =False)

   year       TOV%
0  2001  16.263192
0  2002  15.733915
0  2003  16.152916
0  2004  16.400323
0  2005  15.727424
0  2006  15.707597
0  2007  16.236593
0  2008  15.111070
0  2009  15.128686
0  2010  15.184232
0  2011  15.304831
0  2012  15.785717
0  2013  15.654766
0  2014  15.443840
0  2015  15.148998
0  2016  14.893697
0  2017  14.368692
0  2018  14.566383
0  2019  13.977393
0  2020  14.385356
0  2021  13.859168
0  2022  13.914660
0  2023  14.091552
0  2024  13.715651